# Ignore API keys file
utils/api_keys.json
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore user data
userdata/

# Ignore logs
logs/

# Ignore VSCode files
.vscode/

# Ignore active tasks
active_tasks.json

# Unused features
messages.json